@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap");

:root {
  --primary-blue: #6070ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #e5e5e5;
}

a {
  text-decoration: none;
  color: var(--primary-blue);
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  display: inline-block;
  padding: 12px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}

.container {
  padding: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

header .logo {
  color: var(--primary-blue);
  font-weight: 700;
  font-size: 1.125rem;
}

.nav-bar .bars-menu {
  color: var(--primary-blue);
  font-size: 0.9375rem;
}

.headline {
  background: url("./img/header-shapes\ mobile.svg"), #fff;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2.875rem;
  padding-bottom: 8.13rem;
  border-bottom-left-radius: 6.25rem;
}

.showcase {
  margin-top: 1.875rem;
  display: flex;
  align-items: center;
}

.showcase h1 {
  color: #172b4d;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 0.625rem;
}

.description {
  margin-bottom: 0.625rem;
}

.description p {
  color: #344563;
  font-weight: 400;
  font-size: 1rem;
}

.headline span {
  display: block;
}

.desc-link {
  color: #7f8cff;
  font-weight: 500;
  margin: 20px 0;
}

.headline-icons {
  display: flex;
}

.headline-icons .icon {
  margin-right: 1.25rem;
}

.headline-icons .fa {
  color: #505f79;
  font-size: 1.5625rem;
}

/* Works section */

.works {
  display: grid;
  row-gap: 88px;
  padding-top: 8rem;
}

.work-item {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
}

.item-img {
  margin-bottom: 12px;
}

.item-title {
  display: flex;
  justify-content: flex-start;
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 20px;
  width: 180px;
}

.item-history {
  padding-bottom: 20px;
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.item-history .t-bold {
  text-transform: uppercase;
  color: #344563;
}

.item-desc {
  padding-bottom: 12px;
}

.item-desc p {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.item-categories {
  display: flex;
  margin-bottom: 24px;
}

.item-category {
  background: #ebebff;
  color: #6070ff;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 4px 12px;
  margin-right: 8px;
  border-radius: 8px;
}

.item-btn {
  color: #396df2;
  background: #fff;
  border: 1px solid #396df2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 15px;
}

.item-btn:hover {
  color: #fff;
  background: #396df2;
}
